
<div class="container mt-5">
    <div class="row">
      <div class="col-md-4">
        <img src="img/img4.jpeg" class="img-fluid rounded" alt="About Us">
      </div>
      <div class="col-md-8">
        <h2>About Me</h2>
        <p>
          Hello! My name is Melanie Leon, and I am passionate about technology and innovation, I have dedicated my career to developing high-quality solutions that make a difference. My mission is to leverage my skills and experience to create impactful projects that meet the needs of users and clients.
        </p>
        <p>
          Over the years, I have honed my expertise in various areas, including computer science. I am committed to continuous learning and staying updated with the latest trends and advancements in the industry. This dedication allows me to deliver innovative and effective solutions.
        </p>
        <p>
          When I'm not working on projects, I enjoy go to the gym, I believe in maintaining a healthy work-life balance and always strive to bring creativity and enthusiasm to everything I do.
        </p>
        <p>and I love catsss</p>
      </div>
    </div>
  </div>