<div class="container mt-5">
  <table class="table table-bordered">
    <thead>
      <tr>
        <th>Title</th>
        <th>Description</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let foto of fotos">
        <td>{{ foto.data[0]?.title }}</td>
        <td>{{ foto.data[0]?.description || 'No description available' }}</td>
        <td>
          <button *ngIf="foto.links" class="btn btn-primary" (click)="showImages(foto.links)">Show Images</button>
        </td>
      </tr>
    </tbody>
  </table>

  <div *ngIf="selectedFotoLinks.length > 0" class="mt-4">
    <h3>Related Images</h3>
    <div class="row">
      <div class="col-md-4" *ngFor="let link of selectedFotoLinks">
        <img [src]="link" class="img-fluid rounded" alt="Related Image">
      </div>
    </div>
  </div>
</div>